<section class="container">
  <form class="formulario" (ngSubmit)="transferir()">
    <h2 class="formulario__titulo">Nova transferência</h2>
    <div class="form-field">
      <label class="form-field__label" for="valor">Valor:</label>
      <input class="form-field__input" id="valor" type="text" [(ngModel)]="valor" name="valor">
      <!-- [()]: two way data binding, atualiza do template para componente e vice-versa -->
      <!-- []: property binding, pega o valor do componente e exibe no layout, mas se alterado não atualiza o valor -->
    </div>
    <div class="form-field">
      <label class="form-field__label" for="destino">Destino:</label>
      <input class="form-field__input" id="destino" type="text" [(ngModel)]="destino" name="destino">

    </div>
    <div class="botao-wrapper">
      <button class="botao">Transferir</button>
    </div>
  </form>
</section>


